* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Opens Sans', sans-serif;
}

html, body, #root {
  background-color: aliceblue;
  height: 100%;
}

button {
  background-color: #6DAFA7;
  padding: 0.5em 1em;
  transition: .5s;
  border: none;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}